.list {
  width: 320px;
  /* padding: 10px; */
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px 40px;
}
.item {
  margin-bottom: 10px;
}
.itemName {
  margin-right: 5px;
}
.itemPhone {
  margin-right: 20px;
}
