.userMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
  color: rgb(213, 213, 224);
}

.name {
  text-transform: capitalize;
  display: block;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: rgb(194, 98, 98);
}
